.slider-helper-wrapper {
	position: relative;
	overflow: hidden;
	border-radius: 5px;
	height: 95%;
	transition: background 1s;
}

.slider-helper {
	margin: 40px auto;
	width: 85%;
	height: 90%;
	background: #fff;
	border-radius: 6px;
	overflow: hidden;
	position: relative;
}

.slider-helper-img-wrapper,
.slider-helper-text-wrapper {
	display: inline-block;
	height: 100%;
}
.slider-helper-img-wrapper {
	width: 60%;
}
.slider-helper-text-wrapper {
	width: 40%;
}
.slider-helper-pic,
.slider-helper-map {
	position: absolute;
}

.slider-helper-pic {
	top: 50px;
	left: 40px;
}

.slider-helper-map {
	width: 250px;
	top: 60px;
	left: 30px;
}
.slider-helper-map.map2 {
	width: 200px;
	left: 50px;
}

.slider-helper-text-wrapper .banner-anim-elem {
	padding: 40px;
	height: 100%;
}
.banner-anim {
	position: relative;
	overflow: hidden;
	min-height: 100px;
}

.slider-helper-text-wrapper h1 {
	font-size: 18px;
	margin: 5px auto;
}

.slider-helper-text-wrapper em {
	height: 2px;
	width: 60px;
	border-radius: 2px;
	display: block;
}

.slider-helper-text-wrapper p {
	font-size: 12px;
	margin-top: 10px;
}

.slider-helper-wrapper .anticon {
	position: absolute;
	font-size: 24px;
	top: 50%;
	margin-top: -12px;
	cursor: pointer;
}

.slider-helper-wrapper .anticon-left {
	left: 5px;
	z-index: 999;
}

.slider-helper-wrapper .anticon-right {
	right: 5px;
}
@media screen and (max-width: 414px) {
	.slider-helper {
		transform: scale(0.6) translateX(12px);
		transform-origin: left center;
	}
}
@media screen and (max-width: 375px) {
	.slider-helper {
		transform: scale(0.55) translateX(7px);
	}
}
@media screen and (max-width: 320px) {
	.slider-helper {
		transform: scale(0.46) translateX(12px);
	}
}
