#prebootOverlay {
  display: none !important;
}

.app-shell {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding-top: 40px;
}

.page-container {
  flex-grow: 1;
}

.ant-menu.ant-menu-inline{
  border: none;
}