///nodes panel
.nodes-panel,
.search-panel {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	min-width: 400px;
	padding: 10px 0 0 0;
	.card__wrapper:not(:last-child){
		margin-bottom: 20px;
	}
	&--editor {
	    padding: 15px 10px 0;
        // prettier-ignore
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAACVBMVEW4uLj///+4uLi0GJ2HAAAAAnRSTlMAAHaTzTgAAAAwSURBVHgBY2AkGQxeLUwMpACwFobhoWUEen/U+6PeH/X+qPdHvT/q/VHvE0+AtAAAHPsBpzu0HPUAAAAASUVORK5CYII=
         );
        background-repeat: repeat;
        background-position: 0 -20px;
        background-color: #f6f6f6;
        background-attachment: local;
        background-size: 40px 40px;
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
		.basic-node__wrapper {
			.basic-node {
				background-color: rgb(255, 255, 255);
				font-family: Arial;
				color: black;
				max-width: 200px;
				position: relative;
				overflow: visible;
				font-size: 12px;
				box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
				.name {
					flex-grow: 1;
					padding: 5px 5px;
				}
				.title {
					padding: 10px 10px 0;
					white-space: nowrap;
					overflow: hidden; 
					  text-overflow: ellipsis;
				}
				.title--condition {
					padding: 10px 10px 0;
				}
				.ports {
					display: flex;
					justify-content: space-around;
					position: relative;
					top: 10px;
					.name {
						display: none;
					}
					.out {
						flex-grow: 1;
						display: flex;
						flex-direction: column;
					}
			
					.port {
						transition: all 0.4s ease;
						border-radius: 100%;
						position: relative;
						display: inline-block;
						width: 18px;
						height: 18px;
						margin: 0 auto;
						&[data-name="output"] {
							border: 1px solid #dfdfdf;
							background-color: #fff;
							&::before {
								content: "";
								font-family: Helvetica, Arial, sans-serif;
								font-size: 10px;
								color: #737373;
								white-space: nowrap;
								cursor: default;
								display: block;
								position: absolute;
								right: 19px;
								bottom: -6px;
							}
							&::after {
								transition: all 0.4s ease;
								content: "";
								display: block;
								border-radius: 100%;
								background-color: #737373;
								width: 6px;
								height: 6px;
								transform: translate(-50%, -50%);
								position: absolute;
								top: 50%;
								left: 50%;
							}
						}
						&[data-name="yes"] {
							border-color: #83e559;
							background-color: #83e559;
							&::before {
								content: "\f00c";
								font: normal normal normal 14px/1 FontAwesome;
								color: white;
								position: absolute;
								top: 2px;
								left: 2px;
							}
						
						}
						&[data-name="no"] {
							border-color: #ec3927;
							background-color: #ec3927;
							&::before {
								content: "\f00d";
								font: normal normal normal 14px/1 FontAwesome;
								color: white;
								position: absolute;
								top: 2px;
								left: 3.5px;
							}
							
						}
					}
			
					.out-port {
						display: flex;
						margin-top: 1px;
					}
				}

	.input {
		position: absolute;
		top: -9px;
		width: 100%;
		.in-port {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			flex-basis: 40%;
			width: 95%;
			margin: 0 auto;
			.name {
				display: none;
			}
			.port {
				border: 1px solid #dfdfdf;
				transition: all 0.4s ease;
				border-radius: 100%;
				background-color: #fff;
				position: relative;
				display: inline-block;
				width: 18px;
				height: 18px;
				margin: 0 auto;
				&::before {
					content: "";
					font-family: Helvetica, Arial, sans-serif;
					font-size: 10px;
					color: #737373;
					white-space: nowrap;
					cursor: default;
					display: block;
					position: absolute;
					right: 19px;
					bottom: -6px;
				}
				&::after {
					transition: all 0.4s ease;
					content: "";
					display: block;
					border-radius: 100%;
					background-color: #737373;
					width: 6px;
					height: 6px;
					transform: translate(-50%, -50%);
					position: absolute;
					top: 50%;
					left: 50%;
				}
				
			}
		}
	}
			}
		}
    }
	.node-wrapper {
		flex: 0 0 auto;
		margin-bottom: 2rem;
	}
}

.controls {
	flex: 0 0 20rem;
	max-width: 20rem;
	overflow: auto;
}
