@import "./../../../../styles/references/references";

.processes-page {
    width: 100%;
    &__row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        .add-button {
            &__block {
                display: inline-flex;
                transition: all 0.5s;
                border: 2px dashed $c-gray;
                cursor: pointer;
                border-radius: 5px;
                margin: 0 20px 20px 0;
                &:hover {
                    border-color: #888;
                    box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
                }
            }
            &__content {
                padding: 53px;
            }
            &__icon {
                font-size: 90px;
            }
        }
    }
}
