@import './../../../styles/references/references';

.card {
    border: 1px solid $c-gray-default;
    border-radius: 4px;
    display: inline-block;
    width: 100%;
    position: relative;
    -webkit-transition: all 0.2s;
    transition: all 0.2s;
    background-color: #fff;
    &__head {
        min-height: 48px;
        padding: 10px 24px;
        background: $c-white;
        border-bottom: 1px solid $c-gray-default;
        border-radius: 2px 2px 0 0;
        zoom: 1;
        margin-bottom: -1px;
    }
    &__body {
        padding: 0 20px;
        margin: 20px 0;
        &--editor {
            padding: 15px 10px 0;
            // prettier-ignore
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAACVBMVEW4uLj///+4uLi0GJ2HAAAAAnRSTlMAAHaTzTgAAAAwSURBVHgBY2AkGQxeLUwMpACwFobhoWUEen/U+6PeH/X+qPdHvT/q/VHvE0+AtAAAHPsBpzu0HPUAAAAASUVORK5CYII=
                    );
            background-repeat: repeat;
            background-position: 0 -20px;
            background-color: #f6f6f6;
            background-attachment: local;
            background-size: 40px 40px;
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
        }
    }
}