.answer-card {
	&__question {
		font-size: 1rem;
		margin-bottom: 0.5rem;
		font-family: inherit;
		font-weight: 500;
		line-height: 1.1;
		color: #000;
	}
	&__answer {
		margin-top: 0;
		margin-bottom: 1rem;
		font-size: 14px;
	}
}
