.diagram-drop-container {
	flex: 1;
	display: flex;
	flex-direction: column;
	// height: 100%;

	.storm-diagrams-canvas {
		position: relative;
		flex-grow: 1;
		display: flex;
		width: 100%;
		min-height: 100%;
		cursor: move;
		overflow: hidden;
		// prettier-ignore
		background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADIAAAAyCAMAAAAp4XiDAAAACVBMVEW4uLj///+4uLi0GJ2HAAAAAnRSTlMAAHaTzTgAAAAwSURBVHgBY2AkGQxeLUwMpACwFobhoWUEen/U+6PeH/X+qPdHvT/q/VHvE0+AtAAAHPsBpzu0HPUAAAAASUVORK5CYII=
		);
		border-radius: 4px;
		border: 1px solid #d9d9d9;
		flex: 1;
		background-repeat: repeat;
		background-position: 0 -20px;
		background-color: #f6f6f6;
		background-attachment: local;
		background-size: 40px 40px;
		.point {
			fill: rgb(0, 0, 0);
			&.selected {
				fill: rgb(0, 192, 255);
			}
		}

		.selector {
			position: absolute;
			background-color: rgba(0, 192, 255, 0.2);
			border: solid 2px rgb(0, 192, 255);
		}

		svg {
			position: absolute;
			height: 100%;
			width: 100%;
			transform-origin: 0 0;
			overflow: visible;
		}

		.node-view {
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			position: absolute;
			pointer-events: none;
			transform-origin: 0 0;
			z-index: 1;
		}

		.node {
			position: absolute;
			-webkit-touch-callout: none; /* iOS Safari */
			-webkit-user-select: none; /* Chrome/Safari/Opera */
			user-select: none;
			cursor: move;
			pointer-events: all;
			.basic-node__wrapper {
				padding: 15px;
				border: 1px solid transparent;
			}
			&.selected {
				.basic-node__wrapper {
					border: 1px solid black;
				}
				> * {
					border-color: rgb(0, 192, 255) !important;
					-webkit-filter: drop-shadow(0 0 20px rgba(0, 192, 255, 0.5));
				}
			}
		}

		@keyframes dash {
			from {
				stroke-dashoffset: 24;
			}
			to {
				stroke-dashoffset: 0;
			}
		}

		path {
			fill: none;
			pointer-events: all;
			stroke: #707070;
			z-index: 10;
			&.selected {
				stroke: rgb(0, 192, 255) !important;
				stroke-dasharray: 10, 2;
				animation: dash 1s linear infinite;
			}
		}
	}


.basic-node {
	background-color: rgb(255, 255, 255);
	font-family: Arial;
	color: black;
	max-width: 200px;
	text-align: center;
	position: relative;
	overflow: visible;
	font-size: 12px;
	box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
	&--condition{
		width: 200px;
	}
	.basic-node__delete {
		position: absolute;
		right: 5px;
		top: 5px;
		cursor: pointer;
	}
	.title--condition {
		padding: 10px 10px 0;
	}
	.title {
		display: flex;
		padding: 15px 15px 0;
		white-space: nowrap;
		> * {
			align-self: center;
		}

		.fa {
			padding: 5px;
			opacity: 0.2;
			cursor: pointer;

			&:hover {
				opacity: 1;
			}
		}
	}
	.name {
		flex-grow: 1;
		padding: 5px 5px;
	}
	.title--input {
		padding: 15px;
	}
	.ports {
		display: flex;
		justify-content: space-around;
		position: relative;
		top: 10px;
		.name {
			display: none;
		}
		.out {
			flex-grow: 1;
			display: flex;
			flex-direction: column;
		}

		.port {
			transition: all 0.4s ease;
			border-radius: 100%;
			position: relative;
			display: inline-block;
			width: 18px;
			height: 18px;
			margin: 0 auto;
			&[data-name="output"] {
				border: 1px solid #dfdfdf;
				background-color: #fff;
				&::before {
					content: "";
					font-family: Helvetica, Arial, sans-serif;
					font-size: 10px;
					color: #737373;
					white-space: nowrap;
					cursor: default;
					display: block;
					position: absolute;
					right: 19px;
					bottom: -6px;
				}
				&::after {
					transition: all 0.4s ease;
					content: "";
					display: block;
					border-radius: 100%;
					background-color: #737373;
					width: 6px;
					height: 6px;
					transform: translate(-50%, -50%);
					position: absolute;
					top: 50%;
					left: 50%;
				}
			}
			&[data-name="yes"] {
				border-color: #83e559;
				background-color: #83e559;
				&::before {
					content: "\f00c";
					font: normal normal normal 14px/1 FontAwesome;
					color: white;
					position: absolute;
					top: 2px;
					left: 2px;
				}
				&:hover,
				&.selected {
					background: #00afec;
				}
			}
			&[data-name="no"] {
				border-color: #ec3927;
				background-color: #ec3927;
				&::before {
					content: "\f00d";
					font: normal normal normal 14px/1 FontAwesome;
					color: white;
					position: absolute;
					top: 2px;
					left: 3.5px;
				}
				&:hover,
				&.selected {
					background: #00afec;
				}
			}
		}

		.out-port {
			display: flex;
			margin-top: 1px;
			.port {
				&:hover {
					background-color: #00afec;
					border-color: #00afec;
					&::after {
						background-color: #fff;
					}
				}
			}
		}
	}
}

	.input {
		position: absolute;
		top: -9px;
		width: 100%;
		.in-port {
			display: flex;
			flex-direction: row;
			align-items: center;
			justify-content: space-between;
			flex-basis: 40%;
			width: 95%;
			margin: 0 auto;
			.name {
				display: none;
			}
			.port {
				border: 1px solid #dfdfdf;
				transition: all 0.4s ease;
				border-radius: 100%;
				background-color: #fff;
				position: relative;
				display: inline-block;
				width: 18px;
				height: 18px;
				margin: 0 auto;
				&::before {
					content: "";
					font-family: Helvetica, Arial, sans-serif;
					font-size: 10px;
					color: #737373;
					white-space: nowrap;
					cursor: default;
					display: block;
					position: absolute;
					right: 19px;
					bottom: -6px;
				}
				&::after {
					transition: all 0.4s ease;
					content: "";
					display: block;
					border-radius: 100%;
					background-color: #737373;
					width: 6px;
					height: 6px;
					transform: translate(-50%, -50%);
					position: absolute;
					top: 50%;
					left: 50%;
				}
				&.selected {
					background-color: #00afec;
					border-color: #00afec;
				}
				&:hover {
					background-color: #00afec;
					border-color: #00afec;
					&::after {
						background-color: #fff;
					}
				}
			}
		}
	}
}