.ant-confirm-body > .anticon {
	margin-top: 9px;
}

.ant-cascader-menus {
	.ant-cascader-menu {
		width: 200px;
	}
}
.ant-layout-sider-zero-width-trigger {
	z-index: 5;
}

.ant-tabs.ant-tabs-card>.ant-tabs-bar .ant-tabs-tab-active{
	border-bottom: 1px solid #fff;
}
