@import 'libraries/vendors';
@import 'references/_references';
@import 'components/buttons';
@import 'components/overrides';
@import 'components/helpers';

*,
*:before,
*:after {
	box-sizing: border-box;
}

.page {
	width: 100%;
	max-width: 800px;
	margin: 0 auto;
	padding: 10px 15px;
}

html,
body,
#root {
	width: 100%;
	height: 100%;
	background: #fff;
}
.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.w100 {
	width: 100%;
}
