.edit-proc {
	height: 100%;
	.ant-tabs-bar {
		margin-bottom: 20px;
	}
	.ant-spin-nested-loading{
		height: 100%;
		.ant-spin-container{
			height: 100%;
		}
	}
	&__wrapper{
		display: flex;
		flex-direction: column;
		height: 100%
	}
	.parent-container {
		flex: 1;
		display: flex;
		flex-direction: row;
	}
}
