@import './../../../styles/references/references';

.accordion {
	border-bottom: 1px solid $c-gray-default;
	&:last-child{
		border-bottom: none;
	}
	&__header {
		line-height: 22px;
		padding: 8px 0 8px 16px;
		color: rgba(0, 0, 0, 0.85);
		cursor: pointer;
		position: relative;
		font-size: 14px;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
	}
	&__content {

	}
	&__title {
		margin-left: 5px;
	}
}
