@import './../../../../styles/references/references';

.site-integration{
	&__wrapper {
		width: 100%;
		height: 100%;
	}
	&__code {
		white-space: pre-wrap;
		&-wrapper {
			border: 1px solid $c-gray;
			border-radius: 4px;
			background-color: #f5f5f5;
			padding: 10px;
			height: auto;
			overflow-y: scroll;
			position: relative;
			.btn-copy {
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}
	}
}