.page-helper{
    position: absolute;
    top: 115px;
    left: -1px;
    text-align: center;
    width: 36px;
    height: 42px;
    border-radius: 0 4px 4px 0;
    font-size: 18px;
    cursor: pointer;
    -webkit-transition: background .3s ease;
    -o-transition: background .3s ease;
    transition: background .3s ease;
    line-height: 42px;
    background: #001529;
    color: #fff;
    // .page-helper, .ant-tooltip-open{
    // }
}