.template-editor{
    border: 1px solid #d9d9d9;
    border-radius: 4px;
    .CodeMirror{
        height: auto;
    }
    .cm-widget{
        &__body{
            display: inline-flex;
            border-radius: 12px;
            border: 2px solid #1890ff;
            
        }
        &__node-name{
            border-radius: 12px;
            font-weight: 600;
            display: flex;
            padding-left: 5px;
            padding-right: 5px;
            color: #1890ff;
            background: #adf;
    }
}
}