$c-black: #000000;
$c-abbey: #434343;
$c-gray-darker: #333333;
$c-blue: #108ee9;
$c-orange: #f50;
$c-gray: #999;
$c-gray-light: #d9d9d9;
$c-gray-default: #e9e9e9;
$c-white-dark: #E5E5E5;
$c-white: #FFFFFF;


