@import "colors";
@import "variables";


@mixin mobile {
	@media (max-width: $tablet-width - 1) {
		@content;
	}
}

@mixin tablet {
	@media (min-width: $tablet-width) and (max-width: $desktop-width - 1) {
		@content;
	}
}

@mixin desktop {
	@media (min-width: $desktop-width) and (max-width: $hi-res-width - 1) {
		@content;
	}
}

@mixin hi-res {
	@media (min-width: $hi-res-width) {
		@content;
	}
}

@mixin page-max-width {
	@media screen and (min-width: $tablet-width) {
		margin: 0 auto;
		max-width: 80%;
	}
}
