.validation-form {
	width: 100%;
	.dynamic-delete-button {
		cursor: pointer;
		position: absolute;
		top: 5px;
		font-size: 24px;
		color: #999;
		transition: all 0.3s;
		margin-left: 10px;
	}
	.dynamic-delete-button:hover {
		color: #777;
	}
	.dynamic-delete-button[disabled] {
		cursor: not-allowed;
		opacity: 0.5;
	}

	.hide {
		display: none;
	}
}
