.forgotpass-page {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	&__reset-form {
		max-width: 400px;
		padding: 0 50px 30px;
		background-color: #fff;
		margin-top: -200px;
	}
	&__main-image {
		margin: 25px 0;
	}
	&__btn {
		&_reset {
			width: 100%;
		}
	}
	&__help-msg {
		font-size: 12px;
		text-align: center;
		color: #636c72;
		line-height: 1.5;
		margin-top: 10px;
	}
}
