.dev-wrapper{
    background-color: #fbfbfb;
    width: 100%;
     height: 100%;
    .dev-container{
    width: 60%;
    margin: 0 auto;
    position: relative;
    display: flex;
    justify-content: center;
    &__title{
        position: absolute;
        font-size: 60px;
        color: rgba(0,0,0,.65);
        font-weight: 400;
        }
    }
}