.login-page {
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #eee;
	&__login-form {
		max-width: 400px;
		padding: 0 50px 30px;
		background-color: #fff;
		margin-top: -200px;
	}
	&__main-image {
		margin: 25px 0;
	}
	&__btn {
		&_forgot {
			float: right;
		}
		&_login {
			width: 100%;
		}
	}
}
