.not-found-page{
    background-image: url('./images/404.jpg');
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50%;
    background-size: 100%;
    &__title{
        color: #108ee9;
        font-size: 120px;
        font-weight: 500;
    }
}