@import "./../../../../../styles/references/references";

.process-block {
    transition: all 0.5s;
    display: inline-flex;
    border: 1px solid $c-gray;
    border-radius: 5px;
    flex-direction: column;
    margin: 0 20px 20px 0;
    width: 200px;
    height: 200px;
    overflow: hidden;
    justify-content: flex-end;
    &:hover {
        border-color: #888;
        box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.2);
    }
    &__content {
        display: flex;
        flex: 1 1 auto;
        flex-direction: column;
        padding: 20px;
        cursor: pointer;
    }
    &__title {
        font-size: 15px;
    }
    &__controls {
        display: flex;
        flex-direction: row-reverse;
        padding: 10px 15px;
        border-top: 1px solid $c-gray;
        &-item {
            cursor: pointer;
            font-size: 20px;
            margin: 0 5px;
            &_delete {
                transition: all 0.5s;
                &:hover {
                    color: #dd0000;
                }
            }
            &_settings {
                transition: all 0.5s;
                &:hover {
                    color: #00cc00;
                }
            }
            &_edit {
                transition: all 0.5s;
                &:hover {
                    color: #dddd00;
                }
            }
        }
    }
}
