@import './../../../../../styles/references/references';

.users-table {
	width: 100%;
	&__button{
		&_delete{
			color: $c-blue;
			cursor: pointer;
		}
	}

	& .ant-table-thead > tr > th {
		background: $c-white-dark;
		padding: 15px 10px;
	}
	& .ant-table-tbody > tr {
		background: $c-white;
	}
	& .ant-table-tbody > tr > td {
		padding: 15px 10px;
		vertical-align: bottom;
	}

	& .ant-table-thead > tr,
	& .ant-table-tbody > tr {
		transition: none;
	}

	.custom-filter-dropdown {
		padding: 8px;
		border-radius: 6px;
		background: $c-white;
		box-shadow: 0 1px 6px rgba(0, 0, 0, 0.2);
		&__controls {
			margin-right: 3px;
			.anticon-search {
				position: relative;
				top: 1px;
			}
			.anticon-close-circle,
			.anticon-search {
				cursor: pointer;
				color: #666;
				transition: color 0.3s;
				font-size: 12px;
				margin: 0 2px;
			}
			.anticon-close-circle:hover,
			.anticon-search:hover {
				color: $c-gray;
			}
			.anticon-close-circle:active,
			.anticon-search:active {
				color: #777;
			}
		}
		input {
			width: 130px;
			margin-right: 8px;
		}
	}

	.highlight {
		color: #f50;
	}
}
