@import './../../../styles/references/references';

.header.ant-layout-header {
	background-color: $c-white;
	position: relative;
    z-index: 10;
	max-width: 100%;
	box-shadow: 0 2px 8px #f0f1f2;
	.logo__wrapper {
		.logo {
		}
	}
	.user-logo {
		float: right;
		// margin-top: 10px;
		// height: 50px;

		.ant-avatar-lg {
			vertical-align: middle;
			cursor: pointer;
			& > * {
				line-height: 37px;
			}
		}
		.user-name {
			font-size: 24px;
		
		}
	}
}
