.faq-page {
	width: 100%;
	&__header {
		padding: 70px 0 75px;
		text-align: center;
		.faq-page__title {
			color: rgba(0, 0, 0, 0.87);
			font-weight: 300;
			font-size: 38px;
			line-height: 45px;
			margin-bottom: 10px;
		}
	}
	&__body {
		border-top: 1px solid rgba(0, 0, 0, 0.117647);
		padding: 75px 0 0 0;
	}
	.divider {
		display: block;
		border: 0;
		border-top: 1px solid transparent;
		margin-top: 10px;
		margin-bottom: 10px;
		&-xl {
			margin-top: 30px;
			margin-bottom: 30px;
		}
		&-dashed {
			border-style: dashed;
			border-color: rgba(0, 0, 0, 0.1);
		}
	}
}
