.controls--wrapper {
    margin-bottom: 20px;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    & > button {
        margin-right: 10px;
    }
    & > input {
        width: 200px;
    }
}