@import './../../../../../../../styles/references/references';

.trigger-integration {
	h1 {
		color: rgba(0, 0, 0, 0.85);
		font-weight: 500;
		line-height: 40px;
		margin-bottom: 24px;
		font-size: 28px;
	}
	&__select-params {
		margin-bottom: 15px;
	}
	&__code-description {
		font-size: 14px;
		margin-bottom: 15px;
	}
	&__code {
		&-wrapper {
			border: 1px solid $c-gray;
			border-radius: 4px;
			background-color: #f5f5f5;
			padding: 10px;
			height: 400px;
			overflow-y: scroll;
			position: relative;
			.btn-copy {
				position: absolute;
				right: 10px;
				top: 10px;
			}
		}
	}
	.code-editor {
		&__control-item {
			margin-bottom: 15px;
		}
	}
	.no-one-string {
		white-space: pre-wrap;
	}
}
