.amo-page {
	width: 100%;
	&__row {
		width: 100%;
		height: 100%;
	}
	&__slider-wrapper {
		height: 100%;
	}
	&__form-wrapper {
	}
}
.slider-modal__wrapper{
	.ant-modal-content{
		height: 800px;
	}
	.ant-modal-body{
		height: 85%;
	}
}