.routes-wrapper {
    width: 100%;
	height: 100%;
	&__menu-item {
		font-size: 14px;
		color: #314659;
	}
	&__menu{
		border-right: 0;
		.ant-menu-sub.ant-menu-inline > .ant-menu-item,
		.ant-menu-item:not(:last-child),
		.ant-menu-item,
		.ant-menu-inline.ant-menu-sub > .ant-menu-submenu > .ant-menu-submenu-title {
			margin: 0;
			padding-top: 4px;
			height: 50px;
		}
	}
    &__main-layout {
		width: 100%;
		min-height: 93%;
		background: #fff;
    }
    &__main-content {
		position: relative;
        background: #fff;
		padding: 20px 20px 20px 50px;
		border-left: 1px solid rgb(233, 233, 233);
		width: 100%;
    }
}